<div>
    <% for (i = 0; i < navlabels.length; i++) {%>
    <p><%=  navlabels[i] %></p>
    <% } %>
</div>
<hr>
<div>
    <% for (i = 0; i < navUrl.length; i++) {%>
    <p><%=  navUrl[i] %></p>
    <% } %>
</div>
<hr>
<div>
    <% for (i = 0; i < navItems.length; i++) {%>
    <p><%=  navItems[i].label %></p>
    <% } %>
</div>


<hr>


<h3>Items menu Work: <%= navWorkItems.length %> - </h3>
<h2>Work Nav:</h2>
<div>
  <% for (i = 0; i < navWorkItems.length; i++) {%>
  <p><%=  navWorkItems[i] %></p>
  <% } %>
</div>

<hr>

<h3>Items menu Work: <%= navAboutItems.length %> - </h3>
<h2>About Nav:</h2>
<div>
  <% for (i = 0; i < navAboutItems.length; i++) {%>
  <p><%=  navAboutItems[i] %></p>
  <% } %>
</div>

<hr>

<h3>Items menu Careers: <%= navCareersItems.length %> - </h3>
<h2>Careers Nav:</h2>
<div>
  <% for (i = 0; i < navCareersItems.length; i++) {%>
  <p><%=  navCareersItems[i] %></p>
  <% } %>
</div>

<hr>

<h3>Items menu Ideas: <%= navIdeasItems.length %> - </h3>
<h2>Ideas Nav:</h2>
<div>
  <% for (i = 0; i < navIdeasItems.length; i++) {%>
  <p><%=  navIdeasItems[i] %></p>
  <% } %>
</div>

<hr>

<h3>Items menu News: <%= navNewsItems.length %> - </h3>
<h2>News Nav:</h2>
<div>
  <% for (i = 0; i < navNewsItems.length; i++) {%>
  <p><%=  navNewsItems[i] %></p>
  <% } %>
</div>

<hr>

<h3>Items menu Events: <%= navEventsItems.length %> - </h3>
<h2>Events Nav:</h2>
<div>
  <% for (i = 0; i < navEventsItems.length; i++) {%>
  <p><%=  navEventsItems[i] %></p>
  <% } %>
</div>
<hr>
<h3>Items menu Contact: <%= navContactItems.length %> - </h3>
<h2>Contact Nav:</h2>
<div>
  <% for (i = 0; i < navContactItems.length; i++) {%>
  <p><%=  navContactItems[i] %></p>
  <% } %>
</div>

<hr>
<h3>Url menu Work: <%= navWorkUrl.length %> - </h3>
<h2>Work menu urls:</h2>
<div>
  <% for (i = 0; i < navWorkUrl.length; i++) {%>
  <p><%=  navWorkUrl[i] %></p>
  <% } %>
</div>

<hr>
<h3>Url menu Careers: <%= navCareersUrl.length %> - </h3>
<h2>Careers menu urls:</h2>
<div>
  <% for (i = 0; i < navCareersUrl.length; i++) {%>
  <p><%=  navCareersUrl[i] %></p>
  <% } %>
</div>

<hr>
<h3>Url menu Ideas: <%= navIdeasUrl.length %> - </h3>
<h2>Ideas menu urls:</h2>
<div>
  <% for (i = 0; i < navIdeasUrl.length; i++) {%>
  <p><%=  navIdeasUrl[i] %></p>
  <% } %>
</div>

<hr>
<h3>Url menu News: <%= navNewsUrl.length %> - </h3>
<h2>News menu urls:</h2>
<div>
  <% for (i = 0; i < navNewsUrl.length; i++) {%>
  <p><%=  navNewsUrl[i] %></p>
  <% } %>
</div>

<hr>
<h3>Url menu Events: <%= navEventsUrl.length %> - </h3>
<h2>Events menu urls:</h2>
<div>
  <% for (i = 0; i < navEventsUrl.length; i++) {%>
  <p><%=  navEventsUrl[i] %></p>
  <% } %>
</div>

<hr>
<h3>Url menu Contact: <%= navContactUrl.length %> - </h3>
<h2>Contact menu urls:</h2>
<div>
  <% for (i = 0; i < navContactUrl.length; i++) {%>
  <p><%=  navContactUrl[i] %></p>
  <% } %>
</div>
